#JAVA编写的清单COPY工具
#listcopy.bat               会显示文件清单，版本号+文件路径
#listcopy.bat FROMSVN       会按照文件清单以及配置，从svn库导出到指定的目录
#listcopy.bat help          显示参数帮助信息
# 支持{}模板变量方式

workspace=E:/tmp/workspace
temppath={workspace}/tmp
zipwar={workspace}/tmp

#清单文件相关
file.excel=p:/因开发所致环境变更记录表模版-20160225产品线-合并-文书.xls
#{workspace}/xls/因开发所致环境变更记录表模版-20150823-杜英恒-产品线.xls
file.excel.folder={workspace}/xls
   #文件过滤，逗号分隔  ,xls,xlsx
file.excel.filter=20150820
   #下面代表着读取清单路径时,目录开头=/[file.keyroot]/...  (包括LIST显示)
file.keyroot=engineering
file.excel.template={workspace}/因开发所致环境变更记录表模版.xls
   #按照模板合并excel，否则=false
file.excel.merge=true 

#svn export相关
svn.url=https://svn.ddddd.ccccc.com/sdfsdf/dddd
svn.username=
svn.password=
   #下面代表着输出目录=[svn.tofolder]/[svn.keyroot]/...=p:/tmp/d/engineering/...
svn.tofolder={temppath}/e
svn.keyroot=engineering
svn.tozip.enabled=true
   #是否进行版本校验，true=必须指定有效版本号；false=可接受空版本号，按照最新版本处理，无效版本号会提示，但是按照最新版本处理
svn.version.verify=false  

svn.workspace=E:/svn_home/xxx/baseline/0319
svn.autocommit=false


#zip/war等文件类型相关
zip.file={zipwar}/gt3nf-wsbs-2.0.23100.156.04013.00-5261.war
zip.folder={zipwar}
zip.folder.filter=5574
   #下面代表着输出目录(root被排除)=[zip.tofolder]/...=p:/tmp/e/gt3nf-skin/...
zip.keyroot=WebContent
zip.tofolder={temppath}

##以下为路径转换配置，使用 | 隔离
    #如： [源路径]|[包路径]
    #搜索顺序：c.->w.META-INF->w.->j.
sortmapping = c.,w.META-INF,w.,j.  
  
mappingx.w.META-INF.warname   =/web/{WEBProject}/src/META-INF|{WEBProject}/WEB-INF/classes/META-INF
mappingx.w.warname0            ={WEBProject}/WebContent|{WEBProject}
mappingx.w.warname1            ={WEBProject}/src|{WEBProject}
    
    
    #w.META-INF, 从war中抽取文件（源代码编译打包后，路径发生了变化）
mapping.w.META-INF.gt3nf-admin    =/portal/web/gt3nf-admin/src/META-INF|gt3nf-admin/WEB-INF/classes/META-INF
mapping.w.META-INF.remind-web    =/portal/web/remind-web/src/META-INF|remind-web/WEB-INF/classes/META-INF
mapping.w.META-INF.gt3nf-portal    =/portal/web/gt3nf-portal/src/META-INF|gt3nf-portal/WEB-INF/classes/META-INF
mapping.w.META-INF.gt3nf-service   =/gt3nf/web/gt3nf-service/src/META-INF|gt3nf-service/WEB-INF/classes/META-INF

    #war包，从war中抽取文件
mapping.w.gt3nf-wsbs0	              =gt3nf/web/gt3nf-wsbs/WebContent|gt3nf-wsbs/
mapping.w.gt3nf-wsbs1                 =gt3nf-wsbs/src|gt3nf-wsbs
mapping.w.gt3nf-skin		          =gt3nf/web/gt3nf-skin/WebContent/|gt3nf-skin/
mapping.w.gt3nf-service0              =gt3nf/web/gt3nf-service/WebContent|gt3nf-service
mapping.w.gt3nf-service1              =gt3nf-service/src|gt3nf-service
mapping.w.gt3nf-admin0                =portal/web/gt3nf-admin/WebContent|gt3nf-admin
mapping.w.gt3nf-admin1                =gt3nf-admin/src|gt3nf-admin
mapping.w.gt3nf-admin2                =portal/web/gt3nf-admin/src|gt3nf-admin
mapping.w.gt3nf-portal0               =portal/web/gt3nf-portal/WebContent|gt3nf-portal
mapping.w.gt3nf-portal1               =gt3nf-portal/src|gt3nf-portal
mapping.w.gt3nf-portal-service        =gt3nf-portal-service/src|gt3nf-portal-service
mapping.w.km-web                      =portal/web/km-web/WebContent|km-web
mapping.w.gt3nf-thirdparty-client     =gt3nf/web/gt3nf-thirdparty-client/src|gt3nf-thirdparty-client
mapping.w.tycx-wsbs0                  =tycx/web/tycx-wsbs/WebContent|tycx-wsbs
mapping.w.tycx-wsbs1                  =tycx/web/tycx-wsbs/src|tycx-wsbs
mapping.w.remind-web                  =remind-web/src|remind-web
mapping.w.gt3nf-task0                 =gt3nf/web/gt3nf-task/WebContent|gt3nf-task
mapping.w.gt3nf-task1                 =gt3nf-task/src|gt3nf-task
mapping.w.tycx-service                =tycx-service/WebContent|tycx-service

	#jar包，从war中jar的抽取class文件
mapping.j.com.foresee.gt3nf.service   =gt3nf/java/com.foresee.gt3nf.service/src|com.foresee.gt3nf.service
mapping.j.com.foresee.gt3nf.wsbs      =gt3nf/java/com.foresee.gt3nf.wsbs/src|com.foresee.gt3nf.wsbs
mapping.j.gov.chinatax.gt3nf0         =gt3nf/java/gov.chinatax.gt3nf/src|gov.chinatax.gt3nf
mapping.j.gov.chinatax.gt3nf1         =gov.chinatax.gt3nf/src\|gov.chinatax.gt3nf
mapping.j.com.foresee.tax.nsrqx       =tax/java/com.foresee.tax.nsrqx/src|com.foresee.tax.nsrqx
mapping.j.com.foresee.portal.biz      =com.foresee.portal.biz/src|com.foresee.portal.biz
mapping.j.com.foresee.portal          =com.foresee.portal/src|com.foresee.portal
mapping.j.com.foresee.etax.bizfront   =etax/java/com.foresee.etax.bizfront/src|com.foresee.etax.bizfront
mapping.j.com.foresee.tax.service     =tax/java/com.foresee.tax.service/src|com.foresee.tax.service
mapping.j.com.foresee.gt3nf.task      =src/gt3nf/java/com.foresee.gt3nf.task/src|com.foresee.gt3nf.task
mapping.j.com.foresee.tycx.service0    =tycx/java/com.foresee.tycx.service/src|com.foresee.tycx.service
mapping.j.com.foresee.tycx.service1    =com.foresee.tycx.service|com.foresee.tycx.service
mapping.j.com.foresee.gt3nf.thirdpartyfront =com.foresee.gt3nf.thirdpartyfront/src|com.foresee.gt3nf.thirdpartyfront
mapping.j.com.foresee.etax.servicecaller    =com.foresee.etax.servicecaller/src|com.foresee.etax.servicecaller
mapping.j.com.foresee.fbrp            =com.foresee.fbrp/src|com.foresee.fbrp
mapping.j.com.foresee.tycx.wsbs       =com.foresee.tycx.wsbs/src|com.foresee.tycx.wsbs
mapping.j.com.foresee.etax.util       =com.foresee.etax.util/src|com.foresee.etax.util
mapping.j.com.foresee.gt3nf.thirdpartyservice.bizhandle   =com.foresee.gt3nf.thirdpartyservice.bizhandle/src|com.foresee.gt3nf.thirdpartyservice.bizhandle
mapping.j.com.foresee.etax.acl        =com.foresee.etax.acl/src|com.foresee.etax.acl
mapping.j.com.foresee.etax.admin      =com.foresee.etax.admin/src|com.foresee.etax.admin
mapping.j.com.com.foresee.gt3nf.task.service      =com.foresee.gt3nf.task.service/src|com.foresee.gt3nf.task.service
mapping.j.com.foresee.fbrp                         =com.foresee.fbrp/src|com.foresee.fbrp
mapping.j.com.com.foresee.etax.bizdelegate         =com.foresee.etax.bizdelegate/src|com.foresee.etax.bizdelegate
mapping.j.com.com.foresee.tax.swryqx               =com.foresee.tax.swryqx/src|com.foresee.tax.swryqx
mapping.j.com.com.foresee.etax.xmlconvert          =com.foresee.etax.xmlconvert/src|com.foresee.etax.xmlconvert
mapping.j.com.foresee.gt3nf.outerservice           =com.foresee.gt3nf.outerservice/src|com.foresee.gt3nf.outerservice
mapping.j.com.foresee.etax.bizcore                 =com.foresee.etax.bizcore/src|com.foresee.etax.bizcore
mapping.j.com.foresee.gt3nf.bizfront               =com.foresee.gt3nf.bizfront/src|com.foresee.gt3nf.bizfront

   #路径转换，直接从svn获取   {WEBProject}为excel的工程名
mapping.c.vfs_home                =src/portal/vfs_home|vfs_home
mapping.c.repository         =src/repository/com.foresee/public/repository|{WEBProject}/WEB-INF/libs/{FILEName}


#package相关，比如war、jar
package.list=gt3nf-service,gt3nf-wsbs,gt3nf-skin,gt3nf-portal,gt3nf-admin,gt3nf-thirdparty-front,gt3nf-thirdparty-service,km-web,tycx-wsbs,tycx-service,remind-web

##############################

#目录Copy相关
ci.workspace={workspace}/d
ci.tofolder={workspace}/e
ci.keyroot=engineering




#按照svn版本号，提取增量清单
svndiff.url=https://
svndiff.startversion=5000
svndiff.endversion=5998
   #下面代表着生成版本差异清单时,目录开头=/[svndiff.keyroot]/... =/src/...
svndiff.keyroot=


